<p>Hey {{ name }},</p>
<p>Please click below to find your OTP-TOKEN</p>
<br>
<p style="font-size: 32px; font-weight: bold">
    {{ token }}
</p>

<p>If you did not request this OTP you can safely ignore it.</p>